@media screen and (max-width: 768px){
    .container{
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        border: none;
        border-radius: none;
        box-shadow: none;
    }
    .direita{
        border-radius: 0px 0px 40px 40px;
    }
}
    

    
